<!DOCTYPE html>
<html>
   <body>
        <div id="wrapper" class="clearfix">
            <!-- 左カラム　開始 -->
            <div id="leftColumn">
                <hr class=straghtline>
                <h3>撮影申込み</h3>
                <hr class=dotline>
                
                <% @request.errors.full_messages.each do |message| %>
                    <div class="form-error">
                        <%= message %>
                    </div>
                <% end %>
                
                <%= form_tag("/requests/create") do %>
                    <p class=essential>撮影ジャンル</p>
                    <input type="radio" name="genre" value="カップル写真">カップル写真<br>
                    <input type="radio" name="genre" value="ウェディング写真">ウェディング写真<br>
                    <input type="radio" name="genre" value="ファミリー写真">ファミリー写真<br>
                    <input type="radio" name="genre" value="フレンド写真">フレンド写真<br>
                    <input type="radio" name="genre" value="成人式写真">成人式写真<br>
                    <input type="radio" name="genre" value="卒業式写真">卒業式写真
                
                    <p class=essential>撮影エリア</p>
                    <select name="place">
                        <option value="">▼選択してください</option>
                        <optgroup label="北海道">
                        <option value="旭川">旭川</option>
                        <option value="函館">函館</option>
                        <option value="釧路">釧路</option>
                        <option value="札幌">札幌</option>
                        <option value="北海道の市区町村">以外の市区町村</option>
                        <optgroup label="東北">
                        <option value="青森">青森</option>
                        <option value="岩手">岩手</option>
                        <option value="宮城">宮城</option>
                        <option value="秋田">秋田</option>
                        <option value="山形">山形</option>
                        <option value="福島">福島</option>
                        <optgroup label="関東">
                        <option value="茨城">茨城</option>
                        <option value="栃木">栃木</option>
                        <option value="群馬">群馬</option>
                        <option value="埼玉">埼玉</option>
                        <option value="千葉">千葉</option>
                        <option value="東京">東京</option>
                        <option value="神奈川">神奈川</option>
                        <optgroup label="東海">
                        <option value="山梨">山梨</option>
                        <option value="長野">長野</option>
                        <option value="岐阜">岐阜</option>
                        <option value="静岡">静岡</option>
                        <option value="愛知">愛知</option>
                        <option value="三重">三重</option>
                        <optgroup label="北陸">
                        <option value="新潟">新潟</option>
                        <option value="富山">富山</option>
                        <option value="石川">石川</option>
                        <option value="福井">福井</option>
                        <optgroup label="関西">
                        <option value="滋賀">滋賀</option>
                        <option value="京都">京都</option>
                        <option value="大阪">大阪</option>
                        <option value="兵庫">兵庫</option>
                        <option value="奈良">奈良</option>
                        <option value="和歌山">和歌山</option>
                        <optgroup label="中国・四国">
                        <option value="鳥取">鳥取</option>
                        <option value="島根">島根</option>
                        <option value="岡山">岡山</option>
                        <option value="広島">広島</option>
                        <option value="山口">山口</option>
                        <option value="徳島">徳島</option>
                        <option value="香川">香川</option>
                        <option value="愛媛">愛媛</option>
                        <option value="高知">高知</option>
                    
                    </select>
                    
                    <p class=essential>日付</p>
                    <input type=date name="date">
                    <p class=essential>名前</p>
                    <input class=signup name="name" >
                    <p class=essential>電話番号</p>
                    <input class=signup name="phone" placeholder="09000000000" >
                
                    <input class="button_signup" type="submit" value="申込み">
                <% end %>
                
                
            </div>
            <!-- 左カラム　終了 -->
        
            <!-- 右カラム　開始 -->
            <div id="rightColumn">
                右ナビエリア
            </div>
            <!-- 右カラム　終了 -->
        </div>
      
      
      
      
  </body>