<!DOCTYPE html>
<html>
    <head>
      <title>フォト一覧｜出張写真撮影サービスのLovegraph[ラブグラフ]</title>
      
      <h2>
          <a class="top" href="/lovegraph/top">出張写真撮影サービス LOVEGRAPH トップ</a> › フォト一覧
      </h2>
    </head>

   
   <body>
        <div id="wrapper" class="clearfix">
            <!-- 左カラム　開始 -->
            <div id="leftColumn">
                <% 5.times do |num| %>
                    <img src="<%= "/pictures/#{@request.date.year}/#{@request.date.month}/#{@request.date.day}/#{@request.date}_#{num+1}.jpg" %>" width=20%>
                <% end %>
                
                
                <h4><%= @request.place %></h4>
                <p><%= @request.date %></p>
                <br>
                
                <p><%= link_to("戻る", "/lovegraph/photos") %></p>
                
                <br>
                    
                
            </div>
            <!-- 左カラム　終了 -->
        
            <!-- 右カラム　開始 -->
            <div id="rightColumn">
                右ナビエリア
            </div>
            <!-- 右カラム　終了 -->
        </div>
      
      
      
      
  </body>
  
  