<!DOCTYPE html>
<html>
  <head>
      <title>フォト一覧｜出張写真撮影サービスのLovegraph[ラブグラフ]</title>
      
      <h2>
          <a class="top" href="/lovegraph/top">出張写真撮影サービス LOVEGRAPH トップ</a> › フォト一覧
      </h2>
  </head>

   <body>
        <div id="wrapper" class="clearfix">
            <!-- 左カラム　開始 -->
            <div id="leftColumn">
                <hr class=straghtline>
                <h3>フォト一覧</h3>
                <hr class=dotline>
                
                
                
                <% @requests.each do |request| %>
                    <% if request.pic1 != nil %>
                      <%= link_to(image_tag("/pictures/#{request.date.year}/#{request.date.month}/#{request.date.day}/#{request.name}/#{request.date}_1.jpg", :width => "30%"),"/lovegraph/photos/detail/#{request.id}") %>
                      
                    <% else %>
                      <% next %>
                    <% end %>
                <% end %>
            </div>
            <!-- 左カラム　終了 -->
        
            <!-- 右カラム　開始 -->
            <div id="rightColumn">
                右ナビエリア
            </div>
            <!-- 右カラム　終了 -->
        </div>
      
      
      
      
  </body>