// Place all the styles related to the lovegraph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: 

h2{
    font-size: 12px;
    font-weight: normal;
    padding-left: 175px;
}

.top{
    /* リンクへの下線を無くす */
    text-decoration: none;  
}

/* カラム全体 */
#wrapper{
    margin-left: 175px;
    margin-right: 180px;
    height:100%;
}

/* 左カラム */
#leftColumn {
    float:left;
    width:100%;
    background:#00ffff;
    text-align: justify;
    text-justify: distribute-all-lines;
}

/* 右カラム */
#rightColumn {
    float:right;
    width:250px;
    margin-left:-300px;
    background:#000000;
    text-align: justify;
    text-justify: distribute-all-lines;
}

.clearfix{
    overflow:hidden;
    zoom:1;
}

.clearfix:after{
    clear:both;
    display:block;
    content:'';
}




/* flow */


