// Place all the styles related to the workers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.display{
    float:left;
    width:50%;
}

.display img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left:50px;
}